### 국가별 백신 접종률 정보 가져오기

### 정보 수집 사이트 
* bloomberg.com
  * https://www.bloomberg.com/graphics/covid-vaccine-tracker-global-distribution/

### 기타 참고 통계 사이트
* our world in data
  * https://ourworldindata.org/covid-vaccinations

In [1]:
from IPython.display import display, Image
import os, warnings
import re
warnings.filterwarnings(action='ignore')

### 01 웹 브라우저 띄우기
 *  만약 chrome 브라우저와 chromedirver의 버전이 안 맞을 경우, 버전을 맞는 것으로 변경해야 함.(가끔 이 부분에서 에러 발생)
   * 'chrome driver download'로 검색 후, 사이트에 접근 후, 다운로드 가능(window, linux, mac 버전 있음)

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('./chromedriver_91')

url = 'https://www.bloomberg.com/graphics/covid-vaccine-tracker-global-distribution/'
driver.get(url)

In [3]:
import time
time.sleep(3)  # 홈페이지 로딩 시간 3초

### 전체 데이터 보기
 * 나라가 여러나라가 있어, 더 보기 버튼을 2번 정도 눌러준다.

In [4]:
# //*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button
# //*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button
sel_more1 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more1.click()
time.sleep(1)

In [5]:
# //*[@id="dvz-table-usa-vaccination"]/div[2]/div[2]/button
sel_more2 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more2.click()

### TABLE 선택 후, 데이터 가져오기

#### Countries and regions 
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[1]
 * ..
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[3]/td[1]
 
#### Doses administered
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[2]
 
#### Enough for % of people
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[3]
 
#### given 1+ dose
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[4]
 
#### fully vaccinated
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[5]
 
#### Daily rate of doses administered
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[6]

In [6]:
all_data = []

for i in range(1, 7, 1):
    data_col = []
    xpath = '//*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr/td[%s]' % str(i) 
    sel_data = driver.find_elements_by_xpath(xpath)
    
    for dat in sel_data:
        #print(dat)
        data_col.append(dat.text)
    print(data_col)
    all_data.append(data_col)

['Global Total', 'Mainland China', 'India', 'EU', 'U.S.', 'Brazil', 'Japan', 'Indonesia', 'Turkey', 'Germany', 'Mexico', 'France', 'U.K.', '', '', '', '', '', 'Russia', 'Italy', 'Pakistan', 'Spain', 'South Korea', 'Canada', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Argentina', 'Thailand', 'Philippines', 'Iran', 'Malaysia', 'Saudi Arabia', 'Bangladesh', 'Morocco', 'Colombia', 'Vietnam', 'Poland', 'Chile', 'Australia', 'Sri Lanka', 'Peru', 'Cambodia', 'Netherlands', 'Ecuador', 'Cuba', 'UAE', 'Uzbekistan', 'Ukraine', 'South Africa', 'Belgium', 'Portugal', 'Egypt', 'Israel', 'Taiwan', 'Algeria', 'Venezuela', 'Kazakhstan', 'Sweden', 'Nepal', 'Greece', 'Dominican Republic', 'Czech Republic', 'Hungary', 'Austria', 'Switzerland', '', 'Romania', 'Singapore', 'Myanmar', 'Denmark', 'Hong Kong', 'Azerbaijan', 'Norway', 'Finland', 'Iraq', 'Tunisia', 'El Salvador', 'Ireland', 'Jordan', 'Guatemala', 'Bolivia', 'Nigeria', 'Serbia', 'Uruguay', 'Panama', 'Costa Rica', 'Zimbabwe', 'Honduras', 'New Zealand', 'Slovakia', 'Qatar', 'Oman', 'Mongolia', 'Paraguay', 'Laos', 'Tajikistan', 'Mozambique', 'Kenya', 'Ethiopia', 'Rwanda', 'Croatia', 'Belarus', 'Lithuania', 'Angola', 'Afghanistan', 'Lebanon', 'Bahrain', 'Bulgaria', 'Kuwait', 'Slovenia', 'Uganda', 'Ivory Coast', 'Senegal', 'Georgia', 'Guinea', 'Albania', 'Sudan', 'Ghana', 'Mauritius', 'Latvia', 'Libya', 'North Macedonia', 'Kyrgyzstan', 'Moldova', 'Estonia', 'Kosovo', 'Cyprus', 'Malawi', 'Bhutan', 'Bosnia and Herzegovina', 'Trinidad and Tobago', 'Togo', 'Fiji', 'Mauritania', 'Malta', 'Nicaragua', 'Luxembourg', 'Maldives', 'Jamaica', 'Zambia', 'Timor-Leste', 'Macau', 'Niger', 'Botswana', 'Iceland', 'Syria', 'Guyana', 'Somalia', 'Cameroon', 'Montenegro', 'Brunei', 'Madagascar', 'Cape Verde', 'Armenia', 'Namibia', 'Mali', 'Suriname', 'Tanzania', 'Equatorial Guinea', 'Comoros', 'Lesotho', 'Republic of the Congo', 'Yemen', 'Belize', 'Liberia', 'Burkina Faso', 'Eswatini', 'Barbados', 'Sierra Leone', 'Benin', 'Gambia', 'Central African Republic', 'Curaçao', 'Bahamas', 'Gabon', 'Papua New Guinea', 'Aruba', 'Jersey', 'Samoa', 'Seychelles', 'Chad', 'DR Congo', 'Isle of Man', 'Cayman Islands', 'South Sudan', 'Greenland', 'Guernsey', 'Solomon Islands', 'Guinea-Bissau', 'Andorra', 'Bermuda', 'Antigua and Barbuda', 'Sao Tome and Principe', 'Gibraltar', 'St. Lucia', 'Faroe Islands', 'Tonga', 'Micronesia', 'Djibouti', 'Haiti', 'Grenada', 'Turks & Caicos', 'Monaco', 'Sint Maarten', 'Saint Kitts and Nevis', 'San Marino', 'Dominica', 'Turkmenistan', 'St. Vincent and the Grenadines', 'Anguilla', 'Nauru', 'St. Helena', 'Falkland Islands', 'Montserrat', 'Eritrea']
['6,172,363,261', '2,200,202,000', '870,566,939', '562,942,153', '390,114,328', '232,250,878', '159,494,782', '136,941,018', '108,344,725', '107,030,469', '99,366,403', '93,817,818', '93,500,858', '', '', '', '', '', '89,682,021', '84,158,581', '76,141,484', '69,867,532', '61,329,870', '55,964,812', '', '', '', '', '', '', '', '', '', '', '', '', '', '51,153,324', '46,023,016', '43,933,886', '43,372,270', '42,699,197', '41,770,521', '40,976,791', '40,273,386', '39,610,550', '38,367,246', '37,147,012', '31,552,753', '26,806,343', '26,002,445', '25,683,070', '23,830,570', '23,440,062', '20,571,335', '19,991,460', '19,872,799', '18,526,941', '17,699,201', '16,999,722', '16,623,734', '15,944,324', '15,057,720', '14,958,007', '14,430,076', '14,082,920', '14,050,000', '13,932,708', '13,607,052', '12,645,634', '12,066,901', '11,798,933', '11,779,255', '11,167,215', '10,792,944', '10,330,401', '', '10,071,932', '9,286,999', '9,001,616', '8,811,697', '8,600,780', '8,349,945', '7,747,721', '7,523,495', '7,448,300', '7,425,277', '7,349,843', '7,195,154', '6,942,596', '6,682,813', '6,651,655', '6,552,979', '6,409,263', '6,190,557', '5,367,816', '5,278,479', '5,234,875', '5,196,072', '5,045,901', '4,755,737', '4,696,753', '4,636,486', '4,545,348', '4,488,153', '4,402,770', '3,872,421', '3,644,423', '3,613,357', '3,535,329', '3,409,470', '3,408,049', '3,389,520', '3,339,375', '3,134,137', '3,133,227', '2,929,966', '2,561,756', '2,513,769', '2,380,000', '2,107,230', '2,058,553', '1,968,171', '1,784,832', '1,749,457', '1,699,898', '1,693,555', '1,650,828', '1,643,172', '1,633,952', '1,616,636', '1,546,967', '1,495,762', '1,411,946', '1,388,566', '1,359,926', '1,274,156', '1,146,345', '1,087,426', '1,068,414', '1,060,145', '1,045,498', '997,632', '975,268', '890,122', '816,767', '788,502', '783,832', '727,664', '715,860', '702,462', '675,891', '649,564', '621,853', '606,699', '551,110', '533,949', '533,843', '464,359', '461,201', '450,451', '443,676', '417,648', '414,300', '408,535', '407,502', '405,053', '391,985', '389,807', '387,510', '336,863', '332,954', '329,905', '322,934', '304,218', '284,246', '254,545', '240,002', '234,124', '232,375', '226,269', '207,195', '187,160', '186,793', '184,461', '180,320', '164,776', '155,660', '150,891', '149,431', '148,402', '142,548', '134,945', '129,302', '109,789', '103,751', '102,357', '101,898', '97,744', '94,715', '93,430', '86,676', '86,542', '82,679', '79,502', '75,827', '73,959', '73,603', '72,085', '67,229', '64,799', '55,663', '52,374', '49,980', '49,310', '47,098', '47,088', '44,624', '41,993', '33,077', '18,584', '14,863', '7,892', '4,407', '2,871', '–']
['–', '78.6', '31.8', '63.4', '60.9', '56.3', '63.2', '25.7', '65.1', '64.4', '38.9', '72.4', '70.0', '', '', '', '', '', '30.6', '69.7', '18.6', '75.1', '59.3', '74.6', '', '', '', '', '', '', '', '', '', '', '', '', '', '56.9', '33.1', '20.5', '26.0', '65.5', '61.3', '12.3', '56.6', '39.3', '19.9', '48.9', '82.6', '52.5', '59.6', '38.7', '72.2', '68.0', '59.6', '88.2', '92.4', '27.9', '21.2', '16.2', '72.6', '77.6', '7.6', '82.6', '30.6', '16.2', '25.3', '37.4', '65.9', '22.2', '56.3', '57.0', '55.3', '57.1', '60.9', '60.4', '', '26.0', '81.4', '8.5', '75.9', '57.2', '41.8', '72.3', '68.2', '9.5', '31.5', '56.9', '72.7', '34.5', '19.0', '28.8', '1.6', '46.0', '88.0', '63.6', '52.0', '17.6', '26.6', '51.2', '43.6', '84.0', '55.3', '68.9', '31.4', '30.7', '20.8', '5.8', '3.8', '1.8', '13.7', '41.9', '17.9', '60.0', '5.2', '4.2', '21.4', '86.3', '18.1', '25.1', '52.0', '2.6', '3.7', '5.5', '23.5', '6.2', '29.5', '1.9', '2.7', '64.5', '42.1', '11.8', '36.0', '11.0', '25.9', '51.3', '35.4', '65.4', '2.7', '71.7', '16.1', '37.5', '6.2', '54.5', '11.0', '82.7', '6.0', '63.8', '97.8', '13.1', '1.9', '26.1', '47.8', '1.3', '12.8', '77.2', '–', '34.0', '1.5', '0.9', '36.2', '48.2', '0.8', '37.7', '6.9', '8.3', '1.1', '32.8', '0.3', '14.2', '19.3', '8.1', '3.6', '0.5', '37.3', '3.1', '0.6', '10.8', '40.8', '1.5', '1.0', '4.4', '2.0', '57.3', '24.2', '4.3', '1.0', '69.5', '–', '37.2', '77.3', '0.4', '0.1', '76.1', '84.5', '0.4', '89.8', '–', '7.6', '2.7', '60.7', '68.8', '44.6', '19.4', '116.9', '21.1', '75.5', '36.8', '34.7', '3.1', '0.3', '25.5', '68.9', '64.1', '58.7', '41.3', '69.2', '31.4', '0.4', '15.0', '61.9', '57.2', '65.8', '73.5', '28.7', '–']
['–', '78.6', '46.2', '67.2', '64.3', '71.1', '68.9', '32.2', '64.4', '67.8', '49.7', '77.4', '73.0', '', '', '', '', '', '32.4', '74.3', '27.5', '80.9', '73.7', '76.2', '', '', '', '', '', '', '', '', '', '', '', '', '', '65.6', '42.4', '23.5', '35.5', '70.1', '68.4', '14.8', '61.6', '50.9', '31.5', '52.0', '78.5', '62.8', '65.9', '46.4', '79.6', '70.3', '64.2', '78.4', '85.9', '29.4', '29.3', '20.7', '74.8', '86.9', '9.7', '67.3', '52.0', '13.9', '31.6', '40.3', '69.0', '23.2', '59.8', '58.2', '57.0', '60.2', '64.4', '64.1', '', '28.2', '82.1', '10.5', '76.7', '59.4', '47.2', '77.2', '74.8', '11.7', '40.5', '62.5', '76.1', '36.5', '24.8', '36.7', '2.3', '43.4', '77.6', '69.7', '64.5', '20.4', '32.8', '65.8', '44.8', '84.4', '67.0', '68.3', '36.7', '39.1', '24.8', '6.1', '5.7', '2.9', '16.4', '44.4', '19.8', '61.8', '7.1', '2.6', '23.5', '78.4', '17.3', '56.2', '54.0', '4.1', '5.6', '7.6', '26.1', '8.5', '32.5', '1.5', '2.9', '66.8', '47.3', '20.7', '37.6', '12.7', '22.9', '57.0', '42.8', '67.7', '3.9', '77.1', '19.2', '41.5', '7.4', '65.7', '7.9', '85.1', '7.7', '67.5', '105.3', '19.0', '1.8', '32.8', '51.2', '1.7', '17.2', '78.8', '–', '44.8', '1.7', '1.5', '38.3', '58.7', '0.7', '51.7', '8.9', '10.5', '1.7', '37.6', '–', '16.4', '20.0', '12.2', '4.7', '1.0', '47.6', '2.3', '1.2', '18.7', '46.1', '2.4', '1.3', '7.8', '3.0', '60.0', '30.0', '4.9', '1.4', '72.5', '–', '49.3', '80.5', '0.7', '0.1', '77.0', '84.4', '0.6', '124.5', '–', '11.6', '4.9', '67.0', '69.6', '49.4', '28.4', '117.4', '24.9', '77.5', '46.1', '41.6', '3.8', '0.4', '30.4', '72.2', '68.4', '61.2', '44.2', '71.8', '33.3', '0.6', '18.2', '63.3', '58.6', '72.7', '87.7', '29.7', '–']

['–', '73.0', '16.4', '64.6', '55.3', '41.4', '57.4', '18.1', '52.7', '64.1', '34.9', '74.4', '67.0', '', '', '', '', '', '28.4', '74.4', '12.5', '78.4', '44.9', '70.6', '', '', '', '', '', '', '', '', '', '', '', '', '', '47.7', '22.8', '18.9', '16.8', '60.3', '54.2', '9.8', '51.6', '32.6', '8.2', '51.0', '73.8', '41.7', '53.2', '30.8', '66.0', '63.6', '57.0', '43.4', '76.0', '11.1', '13.1', '14.3', '73.1', '84.0', '5.5', '62.1', '9.1', '9.6', '18.9', '34.3', '62.8', '21.2', '56.5', '55.5', '55.8', '57.6', '60.8', '55.3', '', '27.5', '79.2', '6.6', '75.1', '55.0', '36.4', '67.5', '61.6', '7.3', '29.0', '51.3', '74.0', '32.2', '13.0', '26.7', '0.9', '41.4', '72.9', '57.5', '39.5', '14.7', '20.4', '36.7', '41.2', '79.4', '43.5', '64.5', '26.1', '26.7', '16.8', '5.6', '1.9', '0.8', '11.6', '41.6', '16.0', '58.2', '3.3', '1.2', '19.3', '74.9', '18.9', '19.4', '47.9', '1.0', '1.4', '3.5', '20.9', '3.9', '26.5', '1.3', '2.5', '62.2', '43.3', '2.5', '34.3', '9.4', '28.9', '45.6', '28.0', '62.5', '2.4', '66.3', '12.9', '34.3', '4.8', '43.3', '0.5', '85.0', '4.4', '65.1', '90.3', '8.1', '2.1', '19.4', '44.6', '0.4', '9.5', '77.2', '–', '23.2', '1.2', '0.3', '33.6', '37.8', '0.7', '21.8', '4.8', '6.5', '0.5', '28.0', '–', '12.1', '18.5', '11.7', '2.5', '<0.1', '28.2', '0.6', '0.8', '17.9', '35.5', '0.5', '0.2', '7.1', '0.2', '54.6', '18.4', '3.8', '0.5', '66.5', '–', '25.0', '74.1', '0.2', '<0.1', '75.1', '84.4', '0.2', '64.3', '–', '3.6', '0.4', '54.3', '68.0', '38.0', '8.5', '116.4', '17.2', '73.5', '27.5', '–', '2.4', '0.2', '20.7', '65.6', '59.8', '56.2', '38.5', '71.8', '29.6', '0.2', '11.9', '60.6', '55.8', '58.9', '59.2', '27.8', '–']
['31,740,869', '3,223,429', '7,488,509', '999,304', '716,762', '3,757,702', '1,026,446', '1,755,924', '386,308', '194,734', '532,540', '435,139', '63,103', '', '', '', '', '', '220,487', '222,470', '686,980', '76,386', '374,506', '109,885', '', '', '', '', '', '', '', '', '', '', '', '', '', '260,261', '567,300', '359,982', '1,368,407', '290,646', '104,852', '510,835', '262,478', '166,927', '610,286', '27,470', '109,571', '287,756', '162,348', '247,857', '239,722', '19,363', '16,381', '300,725', '55,176', '155,946', '175,972', '119,548', '21,138', '31,090', '299,053', '28,216', '163,068', '292,376', '246,316', '56,655', '35,743', '134,788', '22,529', '23,075', '9,196', '5,617', '10,382', '28,561', '', '16,658', '22,820', '163,440', '4,823', '27,967', '53,342', '18,880', '20,972', '110,874', '41,843', '28,000', '9,286', '16,609', '76,298', '29,787', '52,334', '18,286', '22,438', '16,408', '8,303', '31,405', '46,577', '40,461', '5,792', '4,560', '74,904', '16,573', '9,811', '9,906', '70,941', '54,234', '34,110', '50,101', '17,256', '5,675', '26,145', '21,363', '44,858', '765,279', '28,922', '3,352', '6,080', '12,990', '6,696', '90,201', '29,585', '2,395', '13,488', '36,444', '6,947', '21,549', '6,530', '1,155', '4,355', '11,809', '6,067', '10,432', '3,566', '3,577', '15,307', '2,315', '8,588', '3,185', '7,334', '3,358', '23,544', '9,017', '2,501', '716', '2,155', '512', '756', '1,506', '6,706', '4,083', '4,123', '9,294', '2,729', '985', '23,498', '3,349', '10,602', '1,267', '2,039', '5,475', '5,145', '4,083', '5,965', '4,761', '1,290', '2,161', '5,687', '2,622', '249', '6,246', '1,525', '244', '2,894', '9,750', '8,839', '1,275', '1,517', '805', '1,696', '357', '212', '231', '411', '1,283', '2,517', '146', '80', '981', '154', '2,785', '637', '232', '1,251', '1,102', '300', '45', '2,902', '3,807', '98', '60', '749', '2,448', '28', '583', '86', '274', '297', '174', '588', '579', '77', '120', '22', '31', '11', '82', '–', '113', '2', '4', '8', '202', '2', '–']

In [7]:
import pandas as pd

### 데이터 확인 
 * Countries and regions : 나라 및 지역 / country 컬럼
 * Doses administered : 접종 수 / Doses_administered 컬럼
 * Enough for % of people : 접종률 / percent_of_people 컬럼
 * given 1+ dose : 1차 접종 / 1_percent 컬럼
 * fully vaccinated : 2차 접종 / 2_percent 컬럼
 * Daily_rate_of_doses_administered : 일일 투여 용량 / Daily_rate_of_doses 컬럼

In [55]:
pd.set_option("display.max_rows", 40)

dat_dict = {'국가':all_data[0],
            '백신접종수':all_data[1],
            'Enough_for_percent_of_people:':all_data[2],
            '1차접종':all_data[3],
            '2차접종':all_data[4],
            '일별접종수':all_data[5]
           }

dat_df = pd.DataFrame(dat_dict)
dat_df

,국가,백신접종수,Enough_for_percent_of_people:,1차접종,2차접종,일별접종수
0,Global Total,"6,172,363,261",–,–,–,"31,740,869"
1,Mainland China,"2,200,202,000",78.6,78.6,73.0,"3,223,429"
2,India,"870,566,939",31.8,46.2,16.4,"7,488,509"
3,EU,"562,942,153",63.4,67.2,64.6,"999,304"
4,U.S.,"390,114,328",60.9,64.3,55.3,"716,762"
...,...,...,...,...,...,...
221,Nauru,"14,863",57.2,58.6,55.8,4
222,St. Helena,"7,892",65.8,72.7,58.9,8
223,Falkland Islands,"4,407",73.5,87.7,59.2,202
224,Montserrat,"2,871",28.7,29.7,27.8,2
225,Eritrea,–,–,–,–,–

In [56]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   국가                             226 non-null    object
 1   백신접종수                          226 non-null    object
 2   Enough_for_percent_of_people:  226 non-null    object
 3   1차접종                           226 non-null    object
 4   2차접종                           226 non-null    object
 5   일별접종수                          226 non-null    object
dtypes: object(6)
memory usage: 10.7+ KB

### 데이터 전처리
 * 데이터가 없거나 제대로 얻어지지 못한 부분. 그리고 추가 컬럼 등을 생성
 * [].str.len() : 데이터의 길이

In [57]:
### 공백행을 삭제
dat_df['국가'].str.len()

0      12
1      14
2       5
3       2
4       4
       ..
221     5
222    10
223    16
224    10
225     7
Name: 국가, Length: 226, dtype: int64

In [58]:
dat_df['국가'].str.len().unique()

array([12, 14,  5,  2,  4,  6,  9,  7,  0,  8, 11, 10,  3, 18, 15, 22, 19,
       17, 21, 24, 16, 13, 30], dtype=int64)

### 한나라의 중복 행의 존재로 이 부분은 정보 취득 못함

In [59]:
dat_df.loc[ dat_df['국가'].str.len() < 1, : ]

   국가 백신접종수 Enough_for_percent_of_people: 1차접종 2차접종 일별접종수
13
14
15
16
17
24
25
26
27
28
29
30
31
32
33
34
35
36
76

### 데이터가 없는 인덱스를 얻어서 해당 행을 삭제한다.

In [60]:
sel_index = dat_df[ dat_df['국가'].str.len() <1 ].index
print(sel_index)
print(dat_df.shape)
dat_df.drop (sel_index, axis=0, inplace=True  )
print(dat_df.shape)

Int64Index([13, 14, 15, 16, 17, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
            36, 76],
           dtype='int64')
(226, 6)
(207, 6)

In [61]:
dat_df.head(15)

,국가,백신접종수,Enough_for_percent_of_people:,1차접종,2차접종,일별접종수
0,Global Total,"6,172,363,261",–,–,–,"31,740,869"
1,Mainland China,"2,200,202,000",78.6,78.6,73.0,"3,223,429"
2,India,"870,566,939",31.8,46.2,16.4,"7,488,509"
3,EU,"562,942,153",63.4,67.2,64.6,"999,304"
4,U.S.,"390,114,328",60.9,64.3,55.3,"716,762"
5,Brazil,"232,250,878",56.3,71.1,41.4,"3,757,702"
6,Japan,"159,494,782",63.2,68.9,57.4,"1,026,446"
7,Indonesia,"136,941,018",25.7,32.2,18.1,"1,755,924"
8,Turkey,"108,344,725",65.1,64.4,52.7,"386,308"
9,Germany,"107,030,469",64.4,67.8,64.1,"194,734"
10,Mexico,"99,366,403",38.9,49.7,34.9,"532,540"
11,France,"93,817,818",72.4,77.4,74.4,"435,139"
12,U.K.,"93,500,858",70.0,73.0,67.0,"63,103"
18,Russia,"89,682,021",30.6,32.4,28.4,"220,487"
19,Italy,"84,158,581",69.7,74.3,74.4,"222,470"

### 인덱스가 일정하지 않아, 인덱스 값 초기화

In [62]:
dat_df = dat_df.reindex()
dat_df.shape

(207, 6)

### 이상치 '-' 값 확인

In [63]:
dat_df.loc[dat_df['백신접종수'] == '–']

          국가 백신접종수 Enough_for_percent_of_people: 1차접종 2차접종 일별접종수
225  Eritrea     –                             –    –    –     –

In [65]:
dat_df.loc[dat_df['일별접종수'] == '–']

               국가   백신접종수 Enough_for_percent_of_people: 1차접종 2차접종 일별접종수
218  Turkmenistan  41,993                           0.4  0.6  0.2     –
225       Eritrea       –                             –    –    –     –

In [66]:
dat_df.columns

Index(['국가', '백신접종수', 'Enough_for_percent_of_people:', '1차접종', '2차접종',
       '일별접종수'],
      dtype='object')

In [67]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )
    print("\n")

col name :  국가
0


col name :  백신접종수
1


col name :  Enough_for_percent_of_people:
5


col name :  1차접종
6


col name :  2차접종
7


col name :  일별접종수
2

### 결측치(비어 있는 값)를 -999로 처리한다.

In [68]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )
    dat_df.loc[dat_df[one] == '–', one] = "-999"      # -은 이상치 -999로 치환
    dat_df.loc[dat_df[one] == '<0.1', one] = "0.05"   # <0.1은 0.05로 치환
    
    print("\n")

col name :  국가
0


col name :  백신접종수
1


col name :  Enough_for_percent_of_people:
5


col name :  1차접종
6


col name :  2차접종
7


col name :  일별접종수
2

### 결측치 처리 후, 확인

In [70]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )

col name :  국가
0
col name :  백신접종수
0
col name :  Enough_for_percent_of_people:
0
col name :  1차접종
0
col name :  2차접종
0
col name :  일별접종수
0

### 수치의  ','을 처리

In [72]:

dat_df['백신접종수'] = dat_df['백신접종수'].str.replace(',', '')
dat_df['일별접종수'] = dat_df['일별접종수'].str.replace(',', '')

In [73]:
dat_df.head(10)

,국가,백신접종수,Enough_for_percent_of_people:,1차접종,2차접종,일별접종수
0,Global Total,6172363261,-999,-999,-999,31740869
1,Mainland China,2200202000,78.6,78.6,73.0,3223429
2,India,870566939,31.8,46.2,16.4,7488509
3,EU,562942153,63.4,67.2,64.6,999304
4,U.S.,390114328,60.9,64.3,55.3,716762
5,Brazil,232250878,56.3,71.1,41.4,3757702
6,Japan,159494782,63.2,68.9,57.4,1026446
7,Indonesia,136941018,25.7,32.2,18.1,1755924
8,Turkey,108344725,65.1,64.4,52.7,386308
9,Germany,107030469,64.4,67.8,64.1,194734

### 데이터 전처리 후, 확인

In [74]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 225
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   국가                             207 non-null    object
 1   백신접종수                          207 non-null    object
 2   Enough_for_percent_of_people:  207 non-null    object
 3   1차접종                           207 non-null    object
 4   2차접종                           207 non-null    object
 5   일별접종수                          207 non-null    object
dtypes: object(6)
memory usage: 11.3+ KB

In [78]:
dat_df.isnull().sum()

국가                               0
백신접종수                            0
Enough_for_percent_of_people:    0
1차접종                             0
2차접종                             0
일별접종수                            0
dtype: int64

In [79]:
dat_df['백신접종수'].unique()

array(['6172363261', '2200202000', '870566939', '562942153', '390114328',
       '232250878', '159494782', '136941018', '108344725', '107030469',
       '99366403', '93817818', '93500858', '89682021', '84158581',
       '76141484', '69867532', '61329870', '55964812', '51153324',
       '46023016', '43933886', '43372270', '42699197', '41770521',
       '40976791', '40273386', '39610550', '38367246', '37147012',
       '31552753', '26806343', '26002445', '25683070', '23830570',
       '23440062', '20571335', '19991460', '19872799', '18526941',
       '17699201', '16999722', '16623734', '15944324', '15057720',
       '14958007', '14430076', '14082920', '14050000', '13932708',
       '13607052', '12645634', '12066901', '11798933', '11779255',
       '11167215', '10792944', '10330401', '10071932', '9286999',
       '9001616', '8811697', '8600780', '8349945', '7747721', '7523495',
       '7448300', '7425277', '7349843', '7195154', '6942596', '6682813',
       '6651655', '6552979', '6409263', '6190557', '5367816', '5278479',
       '5234875', '5196072', '5045901', '4755737', '4696753', '4636486',
       '4545348', '4488153', '4402770', '3872421', '3644423', '3613357',
       '3535329', '3409470', '3408049', '3389520', '3339375', '3134137',
       '3133227', '2929966', '2561756', '2513769', '2380000', '2107230',
       '2058553', '1968171', '1784832', '1749457', '1699898', '1693555',
       '1650828', '1643172', '1633952', '1616636', '1546967', '1495762',
       '1411946', '1388566', '1359926', '1274156', '1146345', '1087426',
       '1068414', '1060145', '1045498', '997632', '975268', '890122',
       '816767', '788502', '783832', '727664', '715860', '702462',
       '675891', '649564', '621853', '606699', '551110', '533949',
       '533843', '464359', '461201', '450451', '443676', '417648',
       '414300', '408535', '407502', '405053', '391985', '389807',
       '387510', '336863', '332954', '329905', '322934', '304218',
       '284246', '254545', '240002', '234124', '232375', '226269',
       '207195', '187160', '186793', '184461', '180320', '164776',
       '155660', '150891', '149431', '148402', '142548', '134945',
       '129302', '109789', '103751', '102357', '101898', '97744', '94715',
       '93430', '86676', '86542', '82679', '79502', '75827', '73959',
       '73603', '72085', '67229', '64799', '55663', '52374', '49980',
       '49310', '47098', '47088', '44624', '41993', '33077', '18584',
       '14863', '7892', '4407', '2871', '-999'], dtype=object)

In [80]:
dat_df['백신접종수'].head(15)

0     6172363261
1     2200202000
2      870566939
3      562942153
4      390114328
5      232250878
6      159494782
7      136941018
8      108344725
9      107030469
10      99366403
11      93817818
12      93500858
18      89682021
19      84158581
Name: 백신접종수, dtype: object

In [81]:
dat_df.loc[dat_df['백신접종수'].isna() , : ]

Empty DataFrame
Columns: [국가, 백신접종수, Enough_for_percent_of_people:, 1차접종, 2차접종, 일별접종수]
Index: []

In [82]:
dat_df.iloc[ 15:25, :]

              국가     백신접종수 Enough_for_percent_of_people:  1차접종  2차접종    일별접종수
20      Pakistan  76141484                          18.6  27.5  12.5   686980
21         Spain  69867532                          75.1  80.9  78.4    76386
22   South Korea  61329870                          59.3  73.7  44.9   374506
23        Canada  55964812                          74.6  76.2  70.6   109885
37     Argentina  51153324                          56.9  65.6  47.7   260261
38      Thailand  46023016                          33.1  42.4  22.8   567300
39   Philippines  43933886                          20.5  23.5  18.9   359982
40          Iran  43372270                          26.0  35.5  16.8  1368407
41      Malaysia  42699197                          65.5  70.1  60.3   290646
42  Saudi Arabia  41770521                          61.3  68.4  54.2   104852

In [83]:
dat_df_num = dat_df.iloc[:, 1:]
dat_df_num.columns

Index(['백신접종수', 'Enough_for_percent_of_people:', '1차접종', '2차접종', '일별접종수'], dtype='object')

In [84]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 225
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   국가                             207 non-null    object
 1   백신접종수                          207 non-null    object
 2   Enough_for_percent_of_people:  207 non-null    object
 3   1차접종                           207 non-null    object
 4   2차접종                           207 non-null    object
 5   일별접종수                          207 non-null    object
dtypes: object(6)
memory usage: 11.3+ KB

In [88]:
sel_col = dat_df_num.columns
for one in sel_col:
    print("col name :", one)
    dat_df[one] = dat_df[one].astype('float32')

col name : 백신접종수
col name : Enough_for_percent_of_people:
col name : 1차접종
col name : 2차접종
col name : 일별접종수

In [89]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 225
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   국가                             207 non-null    object
 1   백신접종수                          207 non-null    float32
 2   Enough_for_percent_of_people:  207 non-null    float32
 3   1차접종                           207 non-null    float32
 4   2차접종                           207 non-null    float32
 5   일별접종수                          207 non-null    float32
dtypes: float32(5), object(1)
memory usage: 7.3+ KB

### 파일 만들기

In [90]:
from datetime import datetime
import os

now = datetime.now()
file_make_time = "%04d%02d%02d_%02d" % (now.year, now.month, now.day, now.hour)
print(now.day - 1)
now_day = now.day
now_hour = now.hour

print( file_make_time )

28
20210929_00

In [91]:
print( os.getcwd() )
path_dir = os.getcwd() + "\\data\\"
path_file = path_dir + file_make_time
print( path_dir,  path_file, sep="\n" )

C:\Users\toto\Documents\Github\corona_analysis
C:\Users\toto\Documents\Github\corona_analysis\data\
C:\Users\toto\Documents\Github\corona_analysis\data\20210929_00

In [92]:
dat_df.to_csv( path_file + "_vaccine_bloomberg.csv", index=False)
dat_df.to_excel( path_file + "_vaccine_bloomberg.xlsx", index=False)
os.listdir(path_dir)

['2021-08-07_corona.csv',
 '2021-08-07_corona.xlsx',
 '2021-09-19_corona.csv',
 '2021-09-19_corona.xlsx',
 '2021-09-20_corona.csv',
 '2021-09-20_corona.xlsx',
 '2021-09-28_corona.csv',
 '2021-09-28_corona.xlsx',
 '20210808_16datamerge.csv',
 '20210808_16datamerge.xlsx',
 '20210808_16_today_corona.csv',
 '20210808_16_today_corona.xlsx',
 '20210808_16_vaccine_bloomberg.csv',
 '20210808_16_vaccine_bloomberg.xlsx',
 '20210920_00_vaccine_bloomberg.csv',
 '20210920_00_vaccine_bloomberg.xlsx',
 '20210921_00_datamerge.csv',
 '20210921_00_datamerge.xlsx',
 '20210929_00_vaccine_bloomberg.csv',
 '20210929_00_vaccine_bloomberg.xlsx',
 'country.csv',
 'country.xlsx']

* history 
 * 2021.08.08 version 01
* 출처를 밝히시고 위의 내용에 대해 자유롭게 사용 가능합니다.