### 국가별 백신 접종률 정보 가져오기

### 정보 수집 사이트 
* bloomberg.com
  * https://www.bloomberg.com/graphics/covid-vaccine-tracker-global-distribution/

### 기타 참고 통계 사이트
* our world in data
  * https://ourworldindata.org/covid-vaccinations

In [1]:
from IPython.display import display, Image
import os, warnings
import re
warnings.filterwarnings(action='ignore')

### 01 웹 브라우저 띄우기
 *  만약 chrome 브라우저와 chromedirver의 버전이 안 맞을 경우, 버전을 맞는 것으로 변경해야 함.(가끔 이 부분에서 에러 발생)
   * 'chrome driver download'로 검색 후, 사이트에 접근 후, 다운로드 가능(window, linux, mac 버전 있음)

In [4]:
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('./chromedriver/chromedriver_91')

url = 'https://www.bloomberg.com/graphics/covid-vaccine-tracker-global-distribution/'
driver.get(url)

In [5]:
import time
time.sleep(3)  # 홈페이지 로딩 시간 3초

### 전체 데이터 보기
 * 나라가 여러나라가 있어, 더 보기 버튼을 2번 정도 눌러준다.

In [6]:
# //*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button
# //*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button
sel_more1 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more1.click()
time.sleep(1)

In [7]:
# //*[@id="dvz-table-usa-vaccination"]/div[2]/div[2]/button
sel_more2 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more2.click()

### TABLE 선택 후, 데이터 가져오기

#### Countries and regions 
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[1]
 * ..
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[3]/td[1]
 
#### Doses administered
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[2]
 
#### Enough for % of people
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[3]
 
#### given 1+ dose
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[4]
 
#### fully vaccinated
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[5]
 
#### Daily rate of doses administered
 * //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[6]

In [8]:
all_data = []

for i in range(1, 7, 1):
    data_col = []
    xpath = '//*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr/td[%s]' % str(i) 
    sel_data = driver.find_elements_by_xpath(xpath)
    
    for dat in sel_data:
        #print(dat)
        data_col.append(dat.text)
    print(data_col)
    all_data.append(data_col)

['Global Total', 'Mainland China', 'India', 'EU', 'U.S.', 'Brazil', 'Japan', 'Germany', 'U.K.', '', '', '', '', '', 'France', 'Turkey', 'Indonesia', 'Italy', 'Mexico', 'Russia', 'Spain', 'Canada', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Pakistan', 'Poland', 'Argentina', 'Colombia', 'Saudi Arabia', 'South Korea', 'Morocco', 'Chile', 'Malaysia', 'Netherlands', 'Philippines', 'Thailand', 'UAE', 'Belgium', 'Bangladesh', 'Peru', 'Australia', 'Sri Lanka', 'Cambodia', 'Portugal', 'Iran', 'Ecuador', 'Israel', 'Hungary', 'Sweden', 'Greece', 'Cuba', 'Czech Republic', 'Dominican Republic', 'Kazakhstan', 'Austria', 'Romania', 'Uzbekistan', 'Taiwan', 'Switzerland', '', 'Ukraine', 'South Africa', 'Vietnam', 'Singapore', 'Denmark', 'Nepal', 'Hong Kong', 'Ireland', 'Finland', 'Egypt', 'Norway', 'Serbia', 'Jordan', 'Azerbaijan', 'Uruguay', 'Bolivia', 'El Salvador', 'Slovakia', 'Mongolia', 'Qatar', 'Nigeria', 'Venezuela', 'Myanmar', 'Costa Rica', 'Croatia', 'Tunisia', 'Panama', 'Lithuania', 'Zimbabwe', 'Guatemala', 'Laos', 'Paraguay', 'Lebanon', 'Belarus', 'Kuwait', 'Bahrain', 'Ethiopia', 'Iraq', 'New Zealand', 'Honduras', 'Bulgaria', 'Oman', 'Kenya', 'Slovenia', 'Angola', 'Afghanistan', 'Latvia', 'Ghana', 'Albania', 'Mauritius', 'Senegal', 'Estonia', 'Uganda', 'Ivory Coast', 'Moldova', 'Cyprus', 'Bhutan', 'North Macedonia', 'Guinea', 'Rwanda', 'Sudan', 'Tajikistan', 'Malta', 'Libya', 'Luxembourg', 'Mozambique', 'Malawi', 'Kyrgyzstan', 'Fiji', 'Trinidad and Tobago', 'Georgia', 'Maldives', 'Macau', 'Kosovo', 'Zambia', 'Iceland', 'Togo', 'Nicaragua', 'Timor-Leste', 'Niger', 'Guyana', 'Botswana', 'Jamaica', 'Cameroon', 'Montenegro', 'Equatorial Guinea', 'Yemen', 'Somalia', 'Suriname', 'Namibia', 'Sierra Leone', 'Mauritania', 'Mali', 'Madagascar', 'Belize', 'Cape Verde', 'Brunei', 'Barbados', 'Curaçao', 'Armenia', 'Comoros', 'Jersey', 'Seychelles', 'Republic of the Congo', 'Aruba', 'Isle of Man', 'Bahamas', 'Gabon', 'Papua New Guinea', 'Cayman Islands', 'Guernsey', 'Liberia', 'Central African Republic', 'Greenland', 'Andorra', 'DR Congo', 'Samoa', 'Bermuda', 'Gibraltar', 'Eswatini', 'Algeria', 'Lesotho', 'Benin', 'Antigua and Barbuda', 'Faroe Islands', 'St. Lucia', 'Micronesia', 'South Sudan', 'Turks & Caicos', 'San Marino', 'Tonga', 'Sint Maarten', 'Monaco', 'Sao Tome and Principe', 'Saint Kitts and Nevis', 'Gambia', 'Turkmenistan', 'Dominica', 'Solomon Islands', 'Grenada', 'Burkina Faso', 'St. Vincent and the Grenadines', 'Djibouti', 'Chad', 'Guinea-Bissau', 'Anguilla', 'Nauru', 'St. Helena', 'Falkland Islands', 'Montserrat', 'Bosnia and Herzegovina']
['4,414,063,632', '1,757,780,000', '506,218,296', '487,840,489', '350,627,188', '149,469,803', '99,651,092', '94,682,307', '86,207,851', '', '', '', '', '', '77,681,231', '75,907,222', '73,492,875', '71,240,657', '70,808,386', '66,216,817', '58,542,495', '50,419,136', '', '', '', '', '', '', '', '', '', '', '', '', '', '36,331,025', '34,925,459', '34,214,044', '30,011,575', '29,559,987', '28,468,856', '25,933,900', '25,688,833', '23,608,290', '21,344,541', '20,863,544', '19,632,537', '17,097,354', '14,987,130', '14,699,590', '14,357,462', '13,496,355', '13,456,322', '13,393,448', '12,621,877', '12,388,974', '12,384,109', '11,588,381', '11,122,088', '10,942,947', '10,806,193', '10,713,247', '10,631,138', '10,426,989', '10,004,227', '9,928,726', '9,613,156', '9,554,258', '9,154,501', '9,085,296', '', '8,761,526', '8,588,464', '8,528,267', '8,101,676', '7,697,063', '6,611,076', '6,124,627', '6,078,493', '5,880,854', '5,649,322', '5,623,984', '5,576,247', '5,515,152', '5,370,768', '4,880,810', '4,714,133', '4,664,353', '4,356,585', '4,198,321', '3,942,271', '3,938,945', '3,612,473', '3,500,000', '3,424,278', '3,118,842', '3,111,252', '2,943,308', '2,671,867', '2,604,265', '2,557,374', '2,479,026', '2,445,978', '2,441,010', '2,380,101', '2,380,000', '2,357,620', '2,250,893', '2,115,456', '2,108,567', '2,108,280', '2,088,021', '1,887,421', '1,793,520', '1,769,537', '1,680,590', '1,442,250', '1,383,196', '1,271,393', '1,238,036', '1,237,673', '1,204,245', '1,167,134', '1,152,874', '1,098,505', '1,093,742', '1,014,151', '963,652', '932,603', '904,845', '854,194', '819,035', '806,815', '773,225', '737,417', '726,230', '714,776', '636,522', '635,036', '628,823', '623,007', '606,988', '604,808', '523,029', '487,685', '478,129', '477,205', '474,776', '415,640', '402,962', '401,133', '396,997', '370,626', '369,960', '349,845', '346,493', '311,778', '311,483', '279,869', '255,396', '226,109', '225,380', '224,000', '206,562', '197,001', '186,813', '183,620', '177,628', '176,682', '174,397', '173,017', '162,450', '143,244', '141,435', '140,998', '136,962', '124,807', '108,596', '103,820', '100,409', '98,419', '95,738', '95,423', '94,811', '92,149', '90,547', '86,170', '84,413', '82,976', '78,489', '76,399', '75,000', '72,948', '70,323', '69,518', '67,049', '57,858', '57,098', '56,989', '47,263', '45,940', '45,549', '45,346', '44,060', '43,978', '43,726', '43,557', '41,993', '40,553', '40,404', '37,689', '35,402', '27,589', '26,796', '26,537', '25,225', '18,193', '14,784', '7,091', '4,407', '2,791', '–']
['–', '62.8', '18.5', '54.9', '54.8', '36.6', '39.5', '57.0', '64.5', '', '', '', '', '', '59.9', '45.6', '13.8', '59.0', '27.8', '22.6', '63.0', '67.2', '', '', '', '', '', '', '', '', '', '', '', '', '', '8.9', '46.0', '38.1', '29.8', '43.4', '27.5', '36.4', '67.2', '36.2', '61.9', '9.7', '14.1', '79.5', '65.4', '4.4', '21.6', '26.4', '30.9', '40.6', '61.4', '7.4', '35.9', '64.0', '56.9', '53.0', '50.4', '47.3', '49.9', '50.3', '26.8', '56.0', '24.8', '14.4', '19.4', '53.2', '', '10.5', '8.9', '4.4', '71.0', '66.3', '11.6', '40.7', '61.4', '53.3', '2.8', '52.5', '40.0', '27.4', '26.9', '69.3', '20.4', '36.1', '40.0', '63.7', '70.5', '1.0', '6.5', '3.3', '33.7', '38.3', '13.2', '34.9', '48.0', '8.7', '7.3', '17.3', '17.1', '17.8', '12.6', '25.1', '79.4', '1.2', '2.7', '21.4', '10.8', '15.0', '22.5', '1.9', '43.8', '2.8', '1.9', '36.0', '2.1', '21.6', '48.8', '3.7', '44.0', '1.4', '2.1', '20.4', '57.9', '64.7', '22.4', '3.3', '3.4', '0.9', '4.3', '78.3', '5.6', '59.1', '1.1', '1.6', '5.0', '35.1', '22.3', '8.1', '81.3', '38.5', '13.5', '1.3', '66.8', '2.9', '3.2', '15.6', '0.9', '25.3', '7.8', '6.8', '0.7', '27.8', '11.5', '0.5', '0.9', '21.4', '4.6', '1.4', '2.8', '0.5', '0.4', '22.9', '16.7', '19.3', '30.8', '53.5', '2.9', '9.3', '–', '73.7', '1.5', '61.1', '73.4', '14.3', '2.5', '0.6', '75.7', '–', '1.0', '1.0', '80.8', '58.8', '<0.1', '21.0', '65.9', '115.4', '3.4', '0.1', '1.8', '0.3', '35.8', '68.4', '16.1', '27.5', '0.2', '62.2', '67.6', '22.8', '54.0', '56.5', '10.3', '38.4', '0.9', '0.4', '28.6', '3.2', '17.3', '0.1', '12.5', '1.2', '0.1', '0.7', '60.6', '56.9', '59.1', '73.5', '27.9', '–']
['–', '44.4', '28.8', '60.9', '58.5', '52.0', '46.0', '62.4', '70.4', '', '', '', '', '', '68.9', '50.1', '18.7', '65.2', '39.2', '25.9', '71.3', '72.0', '', '', '', '', '', '', '', '', '', '', '', '', '', '14.1', '48.9', '57.8', '37.4', '58.2', '40.2', '42.3', '72.5', '47.1', '69.5', '10.9', '21.8', '73.7', '71.0', '6.1', '25.4', '34.9', '49.4', '48.1', '70.0', '11.5', '55.2', '64.1', '57.7', '63.0', '54.0', '40.6', '53.8', '54.1', '30.2', '60.3', '26.1', '19.4', '36.7', '55.1', '', '15.4', '11.7', '7.9', '77.7', '73.6', '15.5', '46.1', '68.9', '68.0', '3.9', '69.0', '41.0', '31.0', '31.4', '73.8', '26.5', '47.0', '42.1', '66.8', '76.1', '1.3', '13.0', '3.5', '50.7', '40.8', '16.3', '52.3', '53.3', '11.7', '12.5', '18.4', '30.0', '30.5', '14.8', '30.6', '75.2', '2.3', '2.1', '26.7', '18.5', '15.9', '37.0', '2.3', '45.4', '3.2', '2.1', '41.0', '2.9', '24.1', '54.0', '5.5', '50.0', '2.9', '4.2', '22.8', '62.1', '68.2', '25.2', '4.1', '3.6', '1.5', '8.1', '81.8', '10.4', '64.5', '1.3', '2.2', '7.9', '54.1', '29.5', '11.2', '87.7', '42.6', '17.9', '1.8', '77.1', '4.0', '3.9', '23.2', '1.5', '32.5', '10.2', '8.7', '1.2', '30.2', '13.3', '0.9', '1.2', '31.6', '7.1', '1.8', '5.1', '0.8', '0.7', '33.0', '29.4', '30.8', '34.8', '56.7', '4.1', '13.9', '–', '75.9', '1.7', '64.8', '76.4', '16.2', '3.0', '1.0', '76.7', '–', '1.9', '1.7', '113.3', '65.9', '0.1', '30.7', '66.5', '115.7', '3.9', '–', '2.0', '0.4', '39.8', '72.1', '18.1', '31.4', '0.4', '64.7', '70.3', '28.8', '57.7', '62.7', '15.1', '41.9', '1.3', '0.6', '29.4', '4.6', '19.7', '0.2', '14.8', '1.7', '0.1', '1.4', '62.9', '57.9', '59.4', '87.7', '29.1', '–']

['–', '15.9', '8.2', '52.5', '50.1', '21.1', '32.9', '54.6', '58.7', '', '', '', '', '', '57.3', '34.5', '8.8', '56.7', '21.0', '18.4', '60.8', '60.5', '', '', '', '', '', '', '', '', '', '', '', '', '', '3.6', '46.9', '18.3', '25.2', '28.5', '14.9', '30.6', '64.6', '25.3', '55.8', '8.5', '6.1', '66.0', '62.7', '2.7', '17.9', '17.1', '12.3', '33.9', '59.3', '3.3', '16.6', '59.6', '56.1', '43.0', '50.0', '–', '47.4', '43.8', '22.7', '54.1', '25.4', '4.0', '2.1', '49.3', '', '5.6', '6.1', '0.9', '66.5', '58.9', '7.8', '35.4', '58.4', '38.6', '1.8', '36.0', '39.1', '23.8', '22.5', '64.9', '15.5', '25.3', '37.3', '60.6', '64.9', '0.7', '0.8', '2.9', '16.8', '37.2', '9.6', '18.2', '46.5', '5.8', '2.1', '16.2', '4.2', '17.1', '10.4', '19.4', '71.6', '–', '1.3', '16.2', '3.0', '14.9', '8.0', '1.4', '40.2', '2.4', '1.8', '36.5', '1.3', '19.0', '43.7', '1.9', '43.6', '<0.1', '0.4', '19.8', '53.6', '–', '19.7', '2.5', '3.3', '0.4', '–', '79.9', '–', '53.8', '1.0', '0.7', '2.1', '16.1', '15.1', '5.1', '74.9', '34.5', '9.2', '1.0', '71.5', '1.9', '2.5', '–', '–', '18.1', '5.4', '4.9', '0.2', '25.4', '9.6', '–', '–', '11.2', '2.1', '0.2', '0.5', '0.3', '–', '12.8', '–', '7.8', '26.7', '50.3', '1.7', '–', '–', '71.4', '1.4', '57.4', '70.4', '12.3', '2.0', '0.2', '73.0', '–', '–', '0.2', '48.3', '52.7', '–', '–', '16.4', '115.1', '2.9', '–', '–', '–', '32.0', '64.7', '14.0', '–', '<0.1', '59.7', '69.1', '–', '50.2', '50.3', '5.6', '34.8', '0.5', '0.2', '27.7', '1.7', '14.9', '–', '10.2', '–', '0.1', '–', '18.9', '55.8', '58.8', '59.2', '26.7', '–']
['42,600,503', '17,197,857', '5,565,503', '2,513,484', '712,389', '1,426,282', '2,269,209', '375,419', '181,407', '', '', '', '', '', '517,893', '396,358', '783,013', '403,547', '739,529', '579,461', '371,077', '199,512', '', '', '', '', '', '', '', '', '', '', '', '', '', '954,710', '84,457', '333,721', '420,774', '404,891', '301,333', '311,199', '46,786', '650,779', '129,195', '411,949', '401,677', '43,091', '102,425', '264,332', '206,339', '184,239', '315,166', '248,599', '133,167', '277,538', '329,924', '119,085', '11,178', '62,122', '47,182', '191,593', '45,313', '46,630', '284,670', '38,774', '74,356', '302,796', '152,233', '22,363', '', '176,424', '149,132', '370,984', '81,691', '46,292', '223,823', '65,920', '36,497', '37,987', '27,488', '46,502', '6,494', '53,344', '56,915', '13,448', '66,702', '99,207', '18,526', '14,662', '23,115', '15,212', '61,871', '3,666', '58,889', '7,169', '50,236', '63,456', '14,563', '46,085', '87,243', '89,743', '45,997', '16,639', '26,444', '12,990', '28,288', '8,178', '57,952', '40,138', '43,888', '9,011', '7,562', '12,220', '19,093', '3,533', '15,209', '5,104', '761', '6,741', '11,599', '42,527', '5,176', '1,997', '26,115', '7,301', '5,264', '67,826', '20,545', '15,820', '4,836', '565', '44,964', '2,139', '18,908', '3,502', '3,391', '4,004', '6,968', '8,350', '13,460', '17,914', '2,414', '1,897', '8,410', '6,672', '1,284', '1,469', '4,431', '5,670', '5,598', '2,561', '11,750', '5,312', '2,567', '2,361', '1,543', '880', '1,367', '2,295', '2,100', '12,253', '2,556', '441', '178', '2,219', '3,453', '4,082', '562', '187', '2,766', '4,054', '381', '58', '2,119', '216', '133', '809', '1,304', '1,341', '200', '401', '483', '113', '772', '424', '532', '1,483', '35', '12', '1,272', '6,248', '756', '1,382', '156', '631', '301', '269', '153', '153', '88', '863', '145', '245', '3', '57', '47', '–', '20', '910', '129', '173', '109', '247', '403', '27', '21', '38', '120', '202', '7', '–']

In [9]:
import pandas as pd

### 데이터 확인 
 * Countries and regions : 나라 및 지역 / country 컬럼
 * Doses administered : 접종 수 / Doses_administered 컬럼
 * Enough for % of people : 접종률 / percent_of_people 컬럼
 * given 1+ dose : 1차 접종 / 1_percent 컬럼
 * fully vaccinated : 2차 접종 / 2_percent 컬럼
 * Daily_rate_of_doses_administered : 일일 투여 용량 / Daily_rate_of_doses 컬럼

In [10]:
pd.set_option("display.max_rows", 40)

dat_dict = {'country':all_data[0],
            'Doses_administered':all_data[1],
            'percent_of_people:':all_data[2],
            '1_percent':all_data[3],
            '2_percent':all_data[4],
            'Daily_rate_of_doses':all_data[5]
           }

dat_df = pd.DataFrame(dat_dict)
dat_df

,country,Doses_administered,percent_of_people:,1_percent,2_percent,Daily_rate_of_doses
0,Global Total,"4,414,063,632",–,–,–,"42,600,503"
1,Mainland China,"1,757,780,000",62.8,44.4,15.9,"17,197,857"
2,India,"506,218,296",18.5,28.8,8.2,"5,565,503"
3,EU,"487,840,489",54.9,60.9,52.5,"2,513,484"
4,U.S.,"350,627,188",54.8,58.5,50.1,"712,389"
...,...,...,...,...,...,...
217,Nauru,"14,784",56.9,57.9,55.8,38
218,St. Helena,"7,091",59.1,59.4,58.8,120
219,Falkland Islands,"4,407",73.5,87.7,59.2,202
220,Montserrat,"2,791",27.9,29.1,26.7,7
221,Bosnia and Herzegovina,–,–,–,–,–

In [11]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              222 non-null    object
 1   Doses_administered   222 non-null    object
 2   percent_of_people:   222 non-null    object
 3   1_percent            222 non-null    object
 4   2_percent            222 non-null    object
 5   Daily_rate_of_doses  222 non-null    object
dtypes: object(6)
memory usage: 10.5+ KB

### 데이터 전처리
 * 데이터가 없거나 제대로 얻어지지 못한 부분. 그리고 추가 컬럼 등을 생성

In [12]:
### 공백행을 삭제
dat_df['country'].str.len()

0      12
1      14
2       5
3       2
4       4
       ..
217     5
218    10
219    16
220    10
221    22
Name: country, Length: 222, dtype: int64

### 한나라의 중복 행의 존재로 이 부분은 정보 취득 못함

In [14]:
dat_df.loc[ dat_df['country'].str.len() <1, : ]

,country,Doses_administered,percent_of_people:,1_percent,2_percent,Daily_rate_of_doses
9,,,,,,
10,,,,,,
11,,,,,,
12,,,,,,
13,,,,,,
22,,,,,,
23,,,,,,
24,,,,,,
25,,,,,,
26,,,,,,
27,,,,,,
28,,,,,,
29,,,,,,
30,,,,,,
31,,,,,,
32,,,,,,
33,,,,,,
34,,,,,,
70,,,,,,

In [15]:
sel_index = dat_df[ dat_df['country'].str.len() <1 ].index
print(sel_index)
dat_df.drop (sel_index, axis=0, inplace=True  )

Int64Index([9, 10, 11, 12, 13, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 70],
           dtype='int64')

In [16]:
dat_df = dat_df.reindex()
dat_df.shape

(203, 6)

In [17]:
dat_df.loc[dat_df['Doses_administered'] == '–']

,country,Doses_administered,percent_of_people:,1_percent,2_percent,Daily_rate_of_doses
221,Bosnia and Herzegovina,–,–,–,–,–

In [19]:
dat_df.loc[dat_df['Daily_rate_of_doses'] == '–']

,country,Doses_administered,percent_of_people:,1_percent,2_percent,Daily_rate_of_doses
207,Turkmenistan,"41,993",0.4,0.6,0.2,–
221,Bosnia and Herzegovina,–,–,–,–,–

In [20]:
dat_df.columns

Index(['country', 'Doses_administered', 'percent_of_people:', '1_percent',
       '2_percent', 'Daily_rate_of_doses'],
      dtype='object')

In [21]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )
    print("\n")

col name :  country
0


col name :  Doses_administered
1


col name :  percent_of_people:
4


col name :  1_percent
5


col name :  2_percent
27


col name :  Daily_rate_of_doses
2

### 결측치(비어 있는 값)를 -999로 처리한다.

In [22]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )
    dat_df.loc[dat_df[one] == '–', one] = "-999"      # -은 이상치 -999로 치환
    dat_df.loc[dat_df[one] == '<0.1', one] = "0.05"   # <0.1은 0.05로 치환
    
    print("\n")

col name :  country
0


col name :  Doses_administered
1


col name :  percent_of_people:
4


col name :  1_percent
5


col name :  2_percent
27


col name :  Daily_rate_of_doses
2

### 확인

In [23]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )

col name :  country
0
col name :  Doses_administered
0
col name :  percent_of_people:
0
col name :  1_percent
0
col name :  2_percent
0
col name :  Daily_rate_of_doses
0

### ','을 처리

In [25]:

dat_df['Doses_administered'] = dat_df['Doses_administered'].str.replace(',', '')
dat_df['Daily_rate_of_doses'] = dat_df['Daily_rate_of_doses'].str.replace(',', '')

In [26]:
dat_df.head(10)

,country,Doses_administered,percent_of_people:,1_percent,2_percent,Daily_rate_of_doses
0,Global Total,4414063632,-999,-999,-999,42600503
1,Mainland China,1757780000,62.8,44.4,15.9,17197857
2,India,506218296,18.5,28.8,8.2,5565503
3,EU,487840489,54.9,60.9,52.5,2513484
4,U.S.,350627188,54.8,58.5,50.1,712389
5,Brazil,149469803,36.6,52.0,21.1,1426282
6,Japan,99651092,39.5,46.0,32.9,2269209
7,Germany,94682307,57.0,62.4,54.6,375419
8,U.K.,86207851,64.5,70.4,58.7,181407
14,France,77681231,59.9,68.9,57.3,517893

### 데이터 전처리 후, 확인

In [27]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 221
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              203 non-null    object
 1   Doses_administered   203 non-null    object
 2   percent_of_people:   203 non-null    object
 3   1_percent            203 non-null    object
 4   2_percent            203 non-null    object
 5   Daily_rate_of_doses  203 non-null    object
dtypes: object(6)
memory usage: 11.1+ KB

In [28]:
dat_df.Doses_administered.unique()

array(['4414063632', '1757780000', '506218296', '487840489', '350627188',
       '149469803', '99651092', '94682307', '86207851', '77681231',
       '75907222', '73492875', '71240657', '70808386', '66216817',
       '58542495', '50419136', '36331025', '34925459', '34214044',
       '30011575', '29559987', '28468856', '25933900', '25688833',
       '23608290', '21344541', '20863544', '19632537', '17097354',
       '14987130', '14699590', '14357462', '13496355', '13456322',
       '13393448', '12621877', '12388974', '12384109', '11588381',
       '11122088', '10942947', '10806193', '10713247', '10631138',
       '10426989', '10004227', '9928726', '9613156', '9554258', '9154501',
       '9085296', '8761526', '8588464', '8528267', '8101676', '7697063',
       '6611076', '6124627', '6078493', '5880854', '5649322', '5623984',
       '5576247', '5515152', '5370768', '4880810', '4714133', '4664353',
       '4356585', '4198321', '3942271', '3938945', '3612473', '3500000',
       '3424278', '3118842', '3111252', '2943308', '2671867', '2604265',
       '2557374', '2479026', '2445978', '2441010', '2380101', '2380000',
       '2357620', '2250893', '2115456', '2108567', '2108280', '2088021',
       '1887421', '1793520', '1769537', '1680590', '1442250', '1383196',
       '1271393', '1238036', '1237673', '1204245', '1167134', '1152874',
       '1098505', '1093742', '1014151', '963652', '932603', '904845',
       '854194', '819035', '806815', '773225', '737417', '726230',
       '714776', '636522', '635036', '628823', '623007', '606988',
       '604808', '523029', '487685', '478129', '477205', '474776',
       '415640', '402962', '401133', '396997', '370626', '369960',
       '349845', '346493', '311778', '311483', '279869', '255396',
       '226109', '225380', '224000', '206562', '197001', '186813',
       '183620', '177628', '176682', '174397', '173017', '162450',
       '143244', '141435', '140998', '136962', '124807', '108596',
       '103820', '100409', '98419', '95738', '95423', '94811', '92149',
       '90547', '86170', '84413', '82976', '78489', '76399', '75000',
       '72948', '70323', '69518', '67049', '57858', '57098', '56989',
       '47263', '45940', '45549', '45346', '44060', '43978', '43726',
       '43557', '41993', '40553', '40404', '37689', '35402', '27589',
       '26796', '26537', '25225', '18193', '14784', '7091', '4407',
       '2791', '-999'], dtype=object)

In [29]:
dat_df.isnull().sum()

country                0
Doses_administered     0
percent_of_people:     0
1_percent              0
2_percent              0
Daily_rate_of_doses    0
dtype: int64

In [30]:
dat_df['Doses_administered'].unique()

array(['4414063632', '1757780000', '506218296', '487840489', '350627188',
       '149469803', '99651092', '94682307', '86207851', '77681231',
       '75907222', '73492875', '71240657', '70808386', '66216817',
       '58542495', '50419136', '36331025', '34925459', '34214044',
       '30011575', '29559987', '28468856', '25933900', '25688833',
       '23608290', '21344541', '20863544', '19632537', '17097354',
       '14987130', '14699590', '14357462', '13496355', '13456322',
       '13393448', '12621877', '12388974', '12384109', '11588381',
       '11122088', '10942947', '10806193', '10713247', '10631138',
       '10426989', '10004227', '9928726', '9613156', '9554258', '9154501',
       '9085296', '8761526', '8588464', '8528267', '8101676', '7697063',
       '6611076', '6124627', '6078493', '5880854', '5649322', '5623984',
       '5576247', '5515152', '5370768', '4880810', '4714133', '4664353',
       '4356585', '4198321', '3942271', '3938945', '3612473', '3500000',
       '3424278', '3118842', '3111252', '2943308', '2671867', '2604265',
       '2557374', '2479026', '2445978', '2441010', '2380101', '2380000',
       '2357620', '2250893', '2115456', '2108567', '2108280', '2088021',
       '1887421', '1793520', '1769537', '1680590', '1442250', '1383196',
       '1271393', '1238036', '1237673', '1204245', '1167134', '1152874',
       '1098505', '1093742', '1014151', '963652', '932603', '904845',
       '854194', '819035', '806815', '773225', '737417', '726230',
       '714776', '636522', '635036', '628823', '623007', '606988',
       '604808', '523029', '487685', '478129', '477205', '474776',
       '415640', '402962', '401133', '396997', '370626', '369960',
       '349845', '346493', '311778', '311483', '279869', '255396',
       '226109', '225380', '224000', '206562', '197001', '186813',
       '183620', '177628', '176682', '174397', '173017', '162450',
       '143244', '141435', '140998', '136962', '124807', '108596',
       '103820', '100409', '98419', '95738', '95423', '94811', '92149',
       '90547', '86170', '84413', '82976', '78489', '76399', '75000',
       '72948', '70323', '69518', '67049', '57858', '57098', '56989',
       '47263', '45940', '45549', '45346', '44060', '43978', '43726',
       '43557', '41993', '40553', '40404', '37689', '35402', '27589',
       '26796', '26537', '25225', '18193', '14784', '7091', '4407',
       '2791', '-999'], dtype=object)

In [31]:
dat_df['Doses_administered'].head(30)

0     4414063632
1     1757780000
2      506218296
3      487840489
4      350627188
5      149469803
6       99651092
7       94682307
8       86207851
14      77681231
15      75907222
16      73492875
17      71240657
18      70808386
19      66216817
20      58542495
21      50419136
35      36331025
36      34925459
37      34214044
38      30011575
39      29559987
40      28468856
41      25933900
42      25688833
43      23608290
44      21344541
45      20863544
46      19632537
47      17097354
Name: Doses_administered, dtype: object

In [32]:
dat_df.loc[dat_df['Doses_administered'].isna() , : ]

Empty DataFrame
Columns: [country, Doses_administered, percent_of_people:, 1_percent, 2_percent, Daily_rate_of_doses]
Index: []

In [33]:
dat_df.iloc[ 15:25, :]

,country,Doses_administered,percent_of_people:,1_percent,2_percent,Daily_rate_of_doses
20,Spain,58542495,63.0,71.3,60.8,371077
21,Canada,50419136,67.2,72.0,60.5,199512
35,Pakistan,36331025,8.9,14.1,3.6,954710
36,Poland,34925459,46.0,48.9,46.9,84457
37,Argentina,34214044,38.1,57.8,18.3,333721
38,Colombia,30011575,29.8,37.4,25.2,420774
39,Saudi Arabia,29559987,43.4,58.2,28.5,404891
40,South Korea,28468856,27.5,40.2,14.9,301333
41,Morocco,25933900,36.4,42.3,30.6,311199
42,Chile,25688833,67.2,72.5,64.6,46786

In [34]:
dat_df_num = dat_df.iloc[:, 1:]
dat_df_num.columns

Index(['Doses_administered', 'percent_of_people:', '1_percent', '2_percent',
       'Daily_rate_of_doses'],
      dtype='object')

In [37]:
sel_col = dat_df_num.columns
for one in sel_col:
    print("col name :", one)
    dat_df[one] = dat_df[one].astype('float32')
    
dat_df.info()

col name : Doses_administered
col name : percent_of_people:
col name : 1_percent
col name : 2_percent
col name : Daily_rate_of_doses
<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 221
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              203 non-null    object
 1   Doses_administered   203 non-null    float32
 2   percent_of_people:   203 non-null    float32
 3   1_percent            203 non-null    float32
 4   2_percent            203 non-null    float32
 5   Daily_rate_of_doses  203 non-null    float32
dtypes: float32(5), object(1)
memory usage: 7.1+ KB

### 파일 만들기

In [42]:
from datetime import datetime
import os

now = datetime.now()
file_make_time = "%04d%02d%02d_%02d" % (now.year, now.month, now.day, now.hour)
print(now.day - 1)
now_day = now.day
now_hour = now.hour

print( file_make_time )

7
20210808_16

In [47]:
print( os.getcwd() )
path_dir = os.getcwd() + "\\data\\"
path_file = path_dir + file_make_time
print( path_dir,  path_file, sep="\n" )

C:\Users\toto\Documents\Github\corona_analysis
C:\Users\toto\Documents\Github\corona_analysis\data\
C:\Users\toto\Documents\Github\corona_analysis\data\20210808_16

In [48]:
dat_df.to_csv( path_file + "_vaccine_bloomberg.csv", index=False)
dat_df.to_excel( path_file + "_vaccine_bloomberg.xlsx", index=False)
os.listdir(path_dir)

['20210808_16_vaccine_bloomberg.csv',
 '20210808_16_vaccine_bloomberg.xlsx',
 'country.csv',
 'country.xlsx']

* history 
 * 2021.08.08 version 01